.flex-1{
    flex:1;
    }
    
    .flex-2{
    flex:2;
    }
    
    .flex-3{
    flex:3;
    }
    
    .flex-4{
    flex:4;
    }
    
    .flex-5{
    flex:5;
    }
    
    .flex-6{
    flex:6;
    }
    
    .flex-7{
    flex:7;
    }
    
    .flex-8{
    flex:8;
    }
    
    .flex-9{
    flex:9;
    }
    
    .flex-10{
    flex:10;
    }
    
    .flex-11{
    flex:11;
    }
    
    .flex-12{
    flex:12;
    }
    
    .flex-13{
    flex:13;
    }
    
    .flex-14{
    flex:14;
    }
    
    .flex-15{
    flex:15;
    }
    
    .flex-16{
    flex:16;
    }
    
    .flex-17{
    flex:17;
    }
    
    .flex-18{
    flex:18;
    }
    
    .flex-19{
    flex:19;
    }
    
    .flex-20{
    flex:20;
    }
    
    .flex-21{
    flex:21;
    }
    
    .flex-22{
    flex:22;
    }
    
    .flex-23{
    flex:23;
    }
    
    .flex-24{
    flex:24;
    }
    
    .flex-25{
    flex:25;
    }
    
    .flex-26{
    flex:26;
    }
    
    .flex-27{
    flex:27;
    }
    
    .flex-28{
    flex:28;
    }
    
    .flex-29{
    flex:29;
    }
    
    .flex-30{
    flex:30;
    }
    
    .flex-31{
    flex:31;
    }
    
    .flex-32{
    flex:32;
    }
    
    .flex-33{
    flex:33;
    }
    
    .flex-34{
    flex:34;
    }
    
    .flex-35{
    flex:35;
    }
    
    .flex-36{
    flex:36;
    }
    
    .flex-37{
    flex:37;
    }
    
    .flex-38{
    flex:38;
    }
    
    .flex-39{
    flex:39;
    }
    
    .flex-40{
    flex:40;
    }
    
    .flex-41{
    flex:41;
    }
    
    .flex-42{
    flex:42;
    }
    
    .flex-43{
    flex:43;
    }
    
    .flex-44{
    flex:44;
    }
    
    .flex-45{
    flex:45;
    }
    
    .flex-46{
    flex:46;
    }
    
    .flex-47{
    flex:47;
    }
    
    .flex-48{
    flex:48;
    }
    
    .flex-49{
    flex:49;
    }
    
    .flex-50{
    flex:50;
    }
    
    .flex-51{
    flex:51;
    }
    
    .flex-52{
    flex:52;
    }
    
    .flex-53{
    flex:53;
    }
    
    .flex-54{
    flex:54;
    }
    
    .flex-55{
    flex:55;
    }
    
    .flex-56{
    flex:56;
    }
    
    .flex-57{
    flex:57;
    }
    
    .flex-58{
    flex:58;
    }
    
    .flex-59{
    flex:59;
    }
    
    .flex-60{
    flex:60;
    }
    
    .flex-61{
    flex:61;
    }
    
    .flex-62{
    flex:62;
    }
    
    .flex-63{
    flex:63;
    }
    
    .flex-64{
    flex:64;
    }