#hello {
    padding: 32px;
    background: #e1008e;
    display: block;
    padding-top: 0;
}


#hello h1{
    font-size: 4.968em;
}



#hello h2 {
    font-size: 2.68169em;
}


.renderer > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3 {
    color: #d9e1e5;
    font-size: 3.4em;
    text-transform: uppercase;
}






#test {
    padding: 128px 64px;
    font-size: 1.45em;
}

#test .frame{}


#test .frame h4:nth-child(1) {
    POSITION: relative;
    margin-top: -114px;
    padding-top: 64px;
    font-size: 1.326em;
    color: #254e97;
}


#test h4{}


.renderer {
    background: #e8ffff;
}



#test .frame h4:nth-child(1) {
    color: #224488;
}

#hello {
    background: rgb(333,64,222);
}











.renderer {
    background: rgb(255,256,256);
}



h1, h2, h3 {
    color: #fafcfc;
}
.renderer {
    background: rgb(264,258,258);
}

#test .frame h4:nth-child(1) {
    POSITION: relative;
    margin-top: -152.44px;
    padding-top: 66.2208px;
    font-size: 1.326em;
    color: #224488;
}















.renderer {
    padding: 0;
    margin: 0;
}




#cnvs {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: max-content !important;
    height: max-content !important;
}

.renderer.3dframe{
    
}